body {
  background: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

input, button {
  padding: 8px;
  margin: 80;
}

img {
  border: 2px solid #444;
  margin-top: 15px;
}
